{% if links %}
  {% set dd_id = 'lang-dd-' ~ attributes.id|default('main')|clean_id %}

  {# 当前语言 ID #}
  {% set lang_id = language.id %}

  {% if lang_id == 'zh-hans' %}
    {% set current_label = '中文' %}
  {% elseif lang_id == 'en' %}
    {% set current_label = 'EN' %}
  {% else %}
    {% set current_label = lang_id|upper %}
  {% endif %}

  <div class="dropdown language-switcher-dropdown">
    <button
      class="btn btn-outline-secondary btn-sm dropdown-toggle"
      type="button"
      id="{{ dd_id }}"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ current_label }}
    </button>

    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="{{ dd_id }}">
      {% for key, item in links %}
        {% set label = key == 'zh-hans' ? '中文' : (key == 'en' ? 'EN' : item.text) %}
        <li>
          {{ link(label, item.url, item.attributes.addClass('dropdown-item')) }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
