<section class="py-xl-14 py-10">
  <div class="container px-4 px-lg-0">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="text-center">
          <h2 class="fw-bold display-5 mb-3">Geeks- Feature Highlights</h2>
          <p class="lead">If you use Geeks UI, this is the next level. We ve put in the work to create high-quality design and bootstrap components.</p>
        </div>
      </div>

      <div class="row g-4">

      </div>
    </div>
  </div>
</section>


<section class="client-product-logos-slider py-5">
  <div class="container">
    <div class="text-center mb-4">
      <h2 class="my-3">我们的产品</h2>
      <p class="mb-0 text-body">探索我们创新的产品解决方案，助力您的业务增长。</p>
    </div>
    <div class="swiper-container swiper" id="swiper-client-logos"
      data-pagination="true"
      data-navigation="false"
      data-autoplay="true"
      data-autoplay-delay="3000"
      data-breakpoints='{"480": {"slidesPerView": 2}, "768": {"slidesPerView": 3}, "1024": {"slidesPerView": 5}}'>
      <div class="swiper-wrapper pb-6">

      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
