<section class="py-xl-14 py-10">
  <div class="container px-4 px-lg-0">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-md-12">
        <div class="text-center">
          <h2 class="fw-bold display-5 mb-3">合作伙伴与解决方案</h2>
          <p class="lead">携手全球领先品牌，为您提供创新的技术解决方案</p>
        </div>
      </div>

      <div class="row g-4">
        {% for product in details %}
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card-hover bg-white card card-lift text-center p-4">
              <h4 class="mb-0 card-text fs-5">{{ product.title }}</h4>
              <p class="mt-2">{{ product.description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<section class="client-product-logos-slider py-5">
  <div class="container">
    <div class="text-center mb-4">
      <h2 class="my-3">我们的产品</h2>
      <p class="mb-0 text-body">探索我们创新的产品解决方案，助力您的业务增长。</p>
    </div>
    <div class="swiper-container swiper" id="swiper-client-logos"
      data-pagination="true"
      data-navigation="false"
      data-autoplay="true"
      data-autoplay-delay="3000"
      data-breakpoints='{"480": {"slidesPerView": 2}, "768": {"slidesPerView": 3}, "1024": {"slidesPerView": 5}}'>
      <div class="swiper-wrapper pb-6">
        {% for logo in logos %}
          <div class="swiper-slide">
            <figure class="text-center">
              <img src="{{ logo.src }}" alt="{{ logo.alt }}" class="client-product">
            </figure>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
