<nav class="navbar fixed-bottom navbar-light bg-light d-md-none">
  <div class="container-fluid d-flex justify-content-around">
    <a href="{{ path('<front>') }}" class="nav-link">
      <i class="bi bi-house-door"></i><br>首页
    </a>
    <a href="/contact" class="nav-link">
      <i class="bi bi-ticket"></i><br>联系我们
    </a>
    <a href="/node/2" class="nav-link">
      <i class="bi bi-shop"></i><br>公司简介
    </a>
  </div>
</nav>
