<nav class="navbar fixed-bottom navbar-light bg-light d-md-none">
  <div class="container-fluid d-flex justify-content-around">
    <a href="{{ path('<front>') }}" class="nav-link">
      首页
    </a>
    <a href="/contact" class="nav-link">
      联系我们
    </a>
    <a href="/node/2" class="nav-link">
      公司简介
    </a>
  </div>
</nav>
