
.header .navbar {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 1px 3px rgba(241, 241, 241, 0.5);
  padding: .625rem 1rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.header .navbar .navbar-brand {
  margin-left: 5vw;
}

.header .navbar .navbar-brand img {
  height: auto;
  max-width: 200px;
  border-radius: 5px;
}
.header .navbar .navbar-brand .mobile-logo {
  max-height: 64px;
  display: none;
}

.header .navbar .navbar-toggler {
  border: 1px solid #6a7381;
  margin-top: 8px;
  margin-right: 16px;
}


@media (max-width: 767px) {
  .header .navbar .navbar-brand .desktop-logo {
    display: none !important;
  }
  .header .navbar .navbar-brand .mobile-logo {
    display: block;
  }

  .header .navbar .navbar-toggler:not(.collapsed) ~ .navbar-brand .mobile-logo {
    display: none;
  }
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: column;
}

.navbar .dropdown .dropdown-toggle::after {
  color: var(--bs-gray-500);
  line-height: 1.5rem;
  border: 0;
  font-family: bootstrap-icons !important;
  margin-left: .255em;
  vertical-align: .255em;
  float: right;
  border-bottom: 0;
  border-left: .3em solid transparent;
  border-right: .3em solid transparent;
  border-top: .3em solid;
  content: "";
  display: inline-block;
  margin-top: 10px;
}

.navbar .dropdown .dropdown-item {
  padding: 0.5rem 1rem;
}

.header .navbar .navbar-nav .nav-item a.nav-link {
  color: rgba(100, 116, 139, 0.8);
}
.header .navbar .navbar-nav .nav-item a.nav-link:hover {
  color: rgba(237, 109, 0, 0.8);
}

.header .navbar .navbar-nav .nav-item .dropdown-menu a {
  color: rgba(34, 129, 158, 0.7);
}
.header .navbar .navbar-nav .nav-item .dropdown-menu a:hover {
  color: rgba(34, 129, 158, 0.9);
}

.featured-top .featured-top__inner {
  margin: auto;
  padding: 0;
  max-width: 100%;
}

.featured-top .featured-top__inner .carousel-inner img {
  max-width: 100%;
  height: 600px;
}

.featured-top .featured-top__inner:after {
  clear: both;
}

.path-frontpage .block-page-title-block h1.title {
  display: none;
}

.featured-bottom {
  background-color: rgba(241, 245, 249, 1);
  padding-bottom: 5rem !important;
  padding-top: 2rem !important;
}

.featured-bottom > .container {
  text-align: center;
}

.block-feature-product-block .height-160 {
  height: 160px;
}
.client-product-logos-slider .width-200 {
  width: 160px;
}
.client-product-logos-slider .width-p-100 {
  width: 100%;
}

.latest-news-block h2 {
  color: rgba(34, 129, 158, 0.8);
  font-weight: 400;
}
.latest-news-block .list-group-item {
  transition: background-color 0.3s ease;
  border: 1px solid rgba(226, 232, 240, 0.5);
}
.latest-news-block .list-group-item:hover {
  background-color: #e9ecef;
}

.block-index-carousel-block .carousel-indicators {
  list-style: none;
}

.block-system-breadcrumb-block {
  margin: 1rem 0;
}

/**
 * navbar Bottom Links to fixed-bottom
 */
@media (max-width: 767.98px) {
  body {
    padding-bottom: 70px;


  }

  html,
  body .dialog-off-canvas-main-canvas,
  body .dialog-off-canvas-main-canvas #page-wrapper,
  body .dialog-off-canvas-main-canvas #page,
  body .dialog-off-canvas-main-canvas #page .featured-top,
  body .dialog-off-canvas-main-canvas #page .featured-top,
  body .dialog-off-canvas-main-canvas #page .region-featured-top,
  body .dialog-off-canvas-main-canvas #page .content .carousel,
  body .dialog-off-canvas-main-canvas #page .carousel,
  body .carousel-inner {
/*    width: 100% !important;
    max-width: 395px !important;*/
  }
  body .carousel-inner img {
    max-width: 100%;
    height: auto;
  }
  body {
    width: 100% !important;
    max-width: 100% !important;
  }

  .site-footer .content {
    margin: auto;
    width: 90%;
  }
}
#page-wrapper {
  min-height: 100vh;
  position: relative;
}
.navbar.fixed-bottom {
  z-index: 1030;
  background-color: rgba(241, 241, 241, 0.99) !important;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
