.region .sf-menu > li > a {
  color: #f0f0f0;
}

.region .sf-menu > li > a:hover {
  color: #ff6633;
}

.region .sf-menu > li.sf-depth-1 > ul {
  background-color: #c0c0c0;
}

body header.main-header {
  width: 100%;
  position: fixed;
  padding: 10px;
  text-align: center;
  z-index: 999;
}

body > .dialog-off-canvas-main-canvas > .topwidget {
  margin-top: 100px;
}
