#search-block-form .search-form__submit {
  color: red;
}

.search-block-form.block-search input.form-search {
  max-width: 280px;
  float: right;
  margin-right: 38px;
}

.page-container h1.page-title {
  font-size: 42px;
}

.page-container h2 {
  font-size: 36px;
}

.page-container h3 {
  font-size: 32px;
}


.path-frontpage h1.page-title,
.path-frontpage h2.node__title {
  display: none;
}

.page-container .header-container ul.menu li a {
  padding: 15px 10px 18px;
}

.block-views-blockzen-new-article-block-1 .item-list ul {
  list-style-type: none;
}
.block-views-blockzen-new-article-block-1 .item-list ul li,
.block-views-blockzen-new-article-block-1 .item-list ul li:last-child {
  margin: 0 0 0 20px;
  padding-left: 12px;
  float: left;
  clear: both;
}

.block-views-blockzen-new-article-block-1 .item-list ul li a {
  color: #343a40;
  font-size: 16px;
  font-style: normal;
}

.container .col-12 #block-conference-lite-content.block {
  padding-bottom: 0;
}
