/**
 * custom page
 */
body .container-custom {
  font-family: 'Microsoft Yahei', 'PingFang SC', 'Avenir', 'Segoe UI', 'Hiragino Sans GB', STHeiti, 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
}

body .top-nav {
  padding: 0px;
}

.region-header .logo {
  width: 180px;
}

/**
 * Conference Lite theme.
 */
.logo-and-site-name-wrapper .site-name.site-branding__name a {
  display: none;
}

.region--light-typography .block-superfish ul.menu li > a::before {
  color: #2d2d2d;
  color: #0071b3;
}

.page-container .header-container .header.region--light-typography {
  background-color: rgba(119, 136, 153, 0.95);
  background-color: rgba(56, 110, 138, 0.52);
}

.onscroll .header-container .header.js-fixed.region--colored-background {
  background-color: rgba(56, 110, 138, 0.28);
}

.header__section .block-superfish ul.menu {
  padding: 15px 0;
}


/* Flex item 默认的 min-width: auto 在某些页面被内容撑爆了 */
/* Prevent flex item from expanding due to long content */
.layout-main-wrapper .row-offcanvas > .main-content {
  min-width: 0;
}
