/**
 * custom solution page
 */

#block-showcase-lite-page-title .content > h1 {
  /*display: none;*/
  font-size: 28px;
}

/**
 *
 */
.newspage-row .node--view-mode-teaser {
  margin-bottom: 0;
}

.page-container .content-top__container .content-top__section {
  padding: 10px 0 16px;
}
