/**
 * custom solution page
 */
.term-solution-page-wrapper {
  min-height: 512px;
}

.term-solution-page-image-wrapper {
  height: 280px;
}

#block-showcase-lite-page-title .content h1 {
  display: none;
}
